@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
}

.wrapper {
    background-color: #fff;
    padding: 4rem;
    /* max-width: 400px; */
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.details {
    /* width: 30%; */
    border-right: 2px solid lightgray;
    padding-right: 2.5rem;
}

.details h4 {
    font-weight: 500;
    font-size: 18px;
}

.details i {
    font-weight: 600;
    font-size: 30px;
    color: rgb(89, 1, 89);
    align-items: center;
    font-weight: 500;
    padding-bottom: 6px;
}

.details1, 
.details2 {
    margin-bottom: 30px;
    text-align: center;
}

.details3 {
    text-align: center;
}

.details p,
.message p {
    font-size: 15px;
    color: gray;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.message h3{
    color: rgb(89, 1, 89);
    font-size: 24px;
}

.message p {
    font-weight: 400;
    letter-spacing: 0px;
}
.form-area {
    margin: 20px 0 20px 0;
}

.form-area form input,
.form-area form textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgba(3, 74, 104, 0.118);
    border-radius: 4px;
    font-size: 16px;
    color: black;
}

.form-area form textarea {
    margin-bottom: 20px;
    height: 16vh;
    
}

.form-area .send {
    font-size: 16px;
    width: 10%;
    background-color: #fff;
}
